{% load  static %}
{% load pwa %}
{% progressive_web_app_meta %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous"> -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/all.css" integrity="sha384-Bfad6CLCknfcloXFOyFnlgtENryhrpZCe29RTifKEixXQZ38WheV+i/6YWSzkz3V" crossorigin="anonymous">
    <link href="{% static 'css/simple-sidebar.css' %}" rel="stylesheet">
    {% block css %}
    {% endblock %}
    

    <!-- The core Firebase JS SDK is always required and must be listed first -->
<!-- <script src="https://www.gstatic.com/firebasejs/7.14.6/firebase-app.js"></script> -->
<script src="https://www.gstatic.com/firebasejs/3.9.0/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/3.9.0/firebase-messaging.js"></script>


<!-- TODO: Add SDKs for Firebase products that you want to use
     https://firebase.google.com/docs/web/setup#available-libraries -->

<script>


var firebaseConfig = {
  apiKey: "AIzaSyB6HQS3n7iVpUHd5w2llu8ARIPLV1qPTco",
  authDomain: "sistemas-de-solicitud-salas.firebaseapp.com",
  databaseURL: "https://sistemas-de-solicitud-salas.firebaseio.com",
  projectId: "sistemas-de-solicitud-salas",
  storageBucket: "sistemas-de-solicitud-salas.appspot.com",
  messagingSenderId: "1028150775695",
  appId: "1:1028150775695:web:f7f147f0c32555821885fa"
};
// Initialize Firebase
firebase.initializeApp(firebaseConfig);

let messaging  = firebase.messaging();


  
  //enlazar serviceworker

  navigator.serviceWorker
  .register('./serviceworker.js')
  .then(function(register){
      messaging.useServiceWorker(register)

      //solicitud de permiso a  usuario para que le lleguen notificaciones 

      messaging.requestPermission()
      .then( function(){
        console.log("El usuario a aceptado la solicitud de notificaciones")
        
        return messaging.getToken();
      })
      .then( function(token){
          console.log(token);
      })
      .catch(function(){
          console.log("el usuario no ha aceptado")
      })
  }
  )


  //logica recepcion de la notificacion

    messaging.onMessage(function(payload) {
    
    let title = "titulo de la notificacion"

    let options = {
        body: 'es el mensaje',
        icon: './static/icon/notication.svg'
    }


    let mensaje = new Notification(title , options);

  });

</script>
    
</head>
<body>
    {% include 'app/navbar.html' %}
    <div class="d-flex" id="wrapper">

        
        
        {% include 'app/aside.html' %}
        <div id="page-content-wrapper">
            <div class="container-fluid">
                {% block content %}
            
                {% endblock %}
            </div>
        </div>

    </div>
     {% include 'app/footer.html' %} 

<script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>

{% comment %}    

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script> {% endcomment %}
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
    integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
    crossorigin="anonymous"></script>
    {% block extrajs %}
    {% endblock extrajs %}
    <!-- <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
    crossorigin="anonymous"></script>

  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
    crossorigin="anonymous"></script> -->
</body>
</html>