{% extends 'base.html' %}
{% block title %}Ingresar Horario {% endblock %}
{% block content %}
<div class="d-flex">
  <div class="w-75 p-3">
    <h2>Ingreso Horario </h2>
    <br>
    <div class="container">

      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-icon card-header-warning">

          </div>

          <div class="container col-md-6 mt-4">
            <form class="justify-content-center" method='POST'>
              {% csrf_token %}
              {{ horario.as_p }}
              <br>
              <div class="col">
                <button type="submit" class="btn btn-warning rounded  align-self-center">Ingresar</button>
              </div>
            </form>
          </div>
        </div>

      </div>

    </div>

  </div>


  <div class="mx-3 mt-5">
    <div class="card">
      <div class="card-body">
        <h5>Salas Añadidas a este <br> horario: </h5>
        <div class=" d-flex flex-column">
          <div class="badge badge-secondary mt-1">100 <button type="button" class="close" data-dismiss="modal"
              aria-label="Close">
              <span aria-hidden="true">×</span>
            </button></div>
          <div class="badge badge-secondary mt-1">101</div>
          <div class="badge badge-secondary mt-1">103</div>
          <div class="badge badge-secondary mt-1">104</div>
          <div class="badge badge-secondary mt-1">105</div>
          <div class="badge badge-secondary mt-1">106</div>
          <div class="badge badge-secondary mt-1">107</div>

        </div>

      </div>
    </div>
  </div>
</div>


{% endblock %}