{% extends 'base.html' %}
{% block title %}Listado Solicitudes {% endblock %}
{% block content %}
<div class="d-flex">
    
        
    <div class="w-auto p-3">
        <h1>Listado Solicitudes</h1>
    <table class="table table-bordered">
        <thead >
            <th>usuario</th>
            <th>sala</th>
            <th>horario</th>
            <th>descripcion</th>
            <th>Respuesta</th>
            <th>--</th>
        </thead>
        <tbody>

        {% for solicitud in solicitudes %}
            <tr>
                <td>{{ solicitud.usuario}}</td>
                <td>{{ solicitud.sala }}</td>
                <td>{{ solicitud.horario }}</td>
                <td>{{ solicitud.descripcion }} </td>
                <td>{{ solicitud.respuesta }}</td>
                <td>
                    <button  type="button" data-toggle="modal" data-target="#exampleModal" class="btn btn-outline-primary btn-sm" onclick="abrir_modal_respuesta('{% url 'respuestaSolicitud' pk=solicitud.id %}')">Responder</button>
                </td>
            </tr>
        
        {% endfor %} 
        

        </tbody>

    
        
    </table>
    </div>
    <div class="mx-3 mt-5">
        <div class="card">
            <div class="card-body d-flex flex-column align-content-around">
              <h5>Filtros:</h5>
              <button type="button" class="btn btn-primary mb-3">Solicitudes Reciente</button>
              <button type="button" class="btn btn-primary mb-3">Solicitudes Sin Responder</button>
              <button type="button" class="btn btn-primary mb-3">Solicitudes Rechazadas</button>
            </div>
          </div>
          
    </div>
</div>

    
    <div class="modal" id="exampleModal"  data-backdrop="static"  tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            
    </div>
    
{% endblock %}

{% block extrajs %}
<script type="text/javascript">
    var $ = jQuery.noConflict();
    function abrir_modal_respuesta(url){
    $('#exampleModal').load(url,function(){
        
        $(this).modal('show');  
    });
    }
</script>
{% endblock extrajs %}
